<!DOCTYPE html>
<html lang="pt-br" ng-app="appzeebeer">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ZeeBeer</title>
        <link rel="shortcut icon" type="image/x" href="img/favicon.ico">
        <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body ng-controller="zeebeerCtrl">
        <!-- Navegação -->
        <header class="topo mb-4">
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
                <div class="container">
                    <a href="#topo" onclick="$('body').animatescroll();" class="navbar-brand">{{titulo}}</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#responsiveNavBar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="responsiveNavBar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="$('#cerveja').animatescroll({scrollSpeed:2000,easing:'easeInOutCubic'});">Nossas Cervejas</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="$('#historia').animatescroll({scrollSpeed:2000,easing:'easeInOutCubic'});">Historico</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="$('#contato').animatescroll({scrollSpeed:2000,easing:'easeInOutCubic'});">Contato</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Animação bolhas -->
            <div>
                <canvas id="beerCanvas"></canvas>
                <div class="coming_content">
                    <div class="logo">
                        <img src="img/zeebeer-preta.png" alt="Logo da Cervejaria" style="width: 278px" class="logo">
                    </div>
                    <div class="separator_container">
                    <div class="separator line_separator">
                        <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="320.864" height="320.864" viewBox="0 0 320.864 320.864"><path fill="#000" d="M184.04 81.83c-1.89-5.1-3.46-28.63-3.926-55.05-.003-.1.107-.37.514-.37 2.092-.125 3.248-1.79 3.248-3.91V4c0-2.2-1.8-4-4-4H140.99c-2.2 0-4 1.8-4 4v18.5c0 2.123 1.06 3.77 3.152 3.89.673 0 .613.478.61.673-.463 26.677-2.035 49.67-3.925 54.77-11.12 29.993-35.884 27.39-35.884 63.393V273.96c0 49.536 24.92 47.044 59.49 46.82 34.57.224 59.49 2.716 59.49-46.82V145.226c0-36.002-24.764-33.4-35.883-63.394zm12.89 127.953c-5.845 8.89-31.005 30.02-36.458 30.02-5.338 0-30.727-21.21-36.532-30.02-2.907-4.41-4.97-9.277-4.627-15.678.605-11.325 9.866-20.678 21.208-20.678 11.66 0 18.45 12.44 19.915 12.44 1.675 0 8.755-12.44 19.914-12.44 11.34 0 20.6 9.353 21.206 20.678.342 6.4-1.713 11.247-4.627 15.678z"/></svg>
                        </span>
                    </div>
                    </div>
                    <h3>Eu gosto de cerveja, mas zeebeer é ainda melhor</h3>
                </div>
            </div>
        </header>
        <!-- Nossas Cervejas -->
        <section class="bg-light py-5 mt-5" id="cerveja">
            <div class="container">
                <header>
                    <h2 class="text-center display-4">Nossas Cervejas</h2>
                    <hr>
                </header>
                <div class="card-columns">
                    <div class="card profile-card border-primary m-3" ng-repeat="cerveja in cervejas" id="hover">
                        <div ng-show="cerveja.img">
                            <img ng-src="img/{{cerveja.img}}" alt="" class="card-img-top">
                        </div>
                        <div class="card-header">
                            <em class="card-subtitle text-muted">{{cerveja.tipo}}</em>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{cerveja.nome}}</h5>
                            <hr>
                            <p class="card-text text-justify">
                                {{cerveja.descricao | cut:true:100:' ...'}}
                            </p>
                            <footer class="blockquote-footer">
                                <cite class="source title">{{cerveja.composicao}}</cite>
                            </footer>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-info col" ng-click="detalhar(cerveja)" data-toggle="modal" data-target="#detalhes">Saiba mais</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal - Nossas Cervejas -->
        <div class="modal fade" id="detalhes" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{cervejaDetalhe.nome}} - 
                            <small><cite title="Source Title">{{cervejaDetalhe.composicao}}</cite></small>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div ng-show="cervejaDetalhe.img">
                            <img src="img/{{cervejaDetalhe.img}}" alt="" class="card-img-top" width="200px">
                            <hr>
                        </div>
                        <dl class="row text-justify">
                            <dt class="col-sm-3">
                                <label>Tipo:</label>
                            </dt>
                            <dd class="col-sm-9">
                                <p>{{cervejaDetalhe.tipo}}</p>
                            </dd>
                            <dt class="col-sm-3">
                                <label>Ingredientes:</label>
                            </dt>
                            <dd class="col-sm-9">
                                <p>{{cervejaDetalhe.ingredientes}}</p>
                            </dd>
                            <dt class="col-sm-3">
                                <label>Descrição:</label>
                            </dt>
                            <dd class="col-sm-9">
                                <p ng-bind-html="cervejaDetalhe.descricao"></p>
                            </dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary text-dark btn-block">
                            Quero Beber
                            <i class="fas fa-beer"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!-- História -->
        <section class="bg-historia py-5 mb-5" id="historia">
            <canvas id="beerCanvas2"></canvas>
            <div class="container">
                <header>
                    <h2 class="text-center display-4">História</h2>
                    <hr>
                </header>
                <div class="row">
                    <div class="col-sm-8 col-md-offset-2 col-xs-12 text-justify">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis at unde eligendi explicabo ab dignissimos soluta rerum? Qui nihil sint, quia odit voluptate repellat placeat, excepturi veritatis dolorum deserunt eaque.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nostrum ex porro, nemo animi qui reiciendis ratione totam nisi architecto vel esse molestiae, cupiditate itaque suscipit ipsa sint soluta et.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis delectus quod nisi, doloribus sunt fuga eum sequi quidem totam atque recusandae maiores corporis ex! Expedita amet adipisci excepturi nulla nemo!</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-xs-center">
                        <img src="img/zeebeer-preta.png" alt="Logo da Cervejaria" style="width: 200px">
                    </div>
                </div>
            </div>
        </section>
        <!-- Contato -->
        <section class="mt-5" id="contato">
            <div class="container">
                <header>
                    <h2 class="text-center display-4">Contatos</h2>
                    <hr>
                </header>
                <div class="row">
                    <div class="col-sm-8">
                        <form class="needs-validation" novalidate>
                            <div class="form-group">
                                <div class="float-label-control">
                                    <label for="">Nome</label>
                                    <input type="text" class="form-control" placeholder="Nome e sobrenome" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="float-label-control">
                                    <label for="">Email</label>
                                    <input type="email" class="form-control" placeholder="exemplo123@exemplo.com" onblur="emailValidation()" maxlength="60" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="float-label-control">
                                    <label for="">Telefone</label>
                                    <input type="text" class="form-control" placeholder="(00)0000-0000" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="float-label-control">
                                    <label for="">Minha mensagem</label>
                                    <textarea type="text" class="form-control" placeholder="Texto aqui"></textarea>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button class="btn btn-outline-primary float-right text-dark">
                                    Enviar
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <label><b>Contato de Serviço e Compra</b></label>
                        <br>
                        <label for=""><b>Telefone:</b> +55 085 996690278</label>
                        <br>
                        <label for=""><b>Email:</b> <a href="mailto:ryanalencarbarbosa1701@gmail.com">ryanalencarbarbosa1701@gmail.com</a></label>
                        <label for=""><b>Endereço:</b> <br> Rua Maestro, Nº 1234 <br>Valença - Bahia  - Brasil <br> CEP: 68737-23</label>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer class="text-center border-top mt-5 bg-white py-5 text-dark">
            <div class="container">
                <div>
                    <img src="img/zeebeer-preta.png" alt="Logo da Cervejaria" style="width: 150px" class="logo">
                </div>
                <div class="btn-group text-white my-3 shadow-sm">
                    <a href="#" target="_blank" class="btn btn-outline-info text-dark">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" target="_blank" class="btn btn-outline-info text-dark">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" target="_blank" class="btn btn-outline-info text-dark">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <small>
                    <p>&copy; 2019 - @ZeeBeerBR</p>
                </small>
                <p>&ldquo; Zee Beer Cervejaria &rdquo; &mdash; De  <em>BH, MG</em> para <em>Valença, BA</em></p>
            </div>
        </footer>

        <!-- <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script> -->
        <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="js/db.js"></script>
        <script src="js/script.js"></script>
        <script src="js/angular-sanitize.js"></script>
        <script src="js/appzeebeer.js"></script>
        <script src="js/contato.js"></script>
        <script src="js/animatescroll.js-master/animatescroll.js"></script>
    </body>
</html>